<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Name Consulting: Convention</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.2.0/js/bootstrap.min.js"></script>


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/video.css')}}"/>
	</head>
	<body>
		<div id="bg-container" class="text-center">
		  <a href="/home">
				<video id="bgvid" loop autoplay preload="auto">
					<source src="//s3.amazonaws.com/aro.spotify/video-splash/webm/long/moments1.webm" type="video/webm">
					<source src="//s3.amazonaws.com/aro.spotify/video-splash/mp4/long/moments1.mp4" type="video/mp4">
				</video>
				<button type="button" class="btn btn-default">Click here to enter site.</button>
			</a>
		</div>

	</body>

</html>
